<h1> User Individual Page </h1>

<h2> You could be a member </h2>
<h2> You could be a Board Member </h2>
<h2> You could be a Administrator Member </h2>
<h2> You could be a Board Member and an Administrator Member </h2>
<br />
<br />
<h2> You could be staff </h2>
<h2> You could be landlord staff </h2>

<br />
<br />