@import "bootstrap-sprockets";
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Knewave|Nothing+You+Could+Do';
@import 'https://fonts.googleapis.com/css?family=Pacifico';

body {
  background: url('frenchstucco.png');
  /* Helvetica/Arial-based sans serif stack */
font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-inverse .navbar-brand {
  color: #E3E85A;
  /* font-family: 'Nothing You Could Do', cursive; */
  /* font-family: 'Knewave', cursive; */
  /* font-family: 'Pacifico', cursive; */
  font-family: 'black_jackregular', sans-serif;
  font-weight: 600;
  letter-spacing: -0.3px;
  font-size:40px;
}

.hero {
  background: url('/assets/hero1.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:390px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin:0;
}

.frosty {
  background:rgba(0,0,0, 0.4);
  color: white;
}

.frosty h1 {
  /* font-family: "Helvetica Neue", Helvetica; */
  /* font-family: 'Nothing You Could Do', cursive; */
  /* font-family: 'Knewave', cursive; */
  /* font-family: 'Pacifico', cursive; */
  font-family: 'black_jackregular', sans-serif;
  font-weight: 200;
  font-size: 50pt;
  text-shadow: rgba(0,0,0,0.95) 2px 2px;
}

.btn {
  border-radius:0;
}